@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,
body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: 0.8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: none;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 10px solid red;
}

.border-green {
    border: 10px solid green;
}

.border-blue {
    border: 10px solid blue;
}

.border-gold {
    border: 10px solid gold;
}

.border-pink {
    border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-c {
    justify-content: center;
}

*>.flex-jc-s {
    justify-content: flex-start;
}

*>.flex-jc-e {
    justify-content: flex-end;
}

*>.flex-jc-sb {
    justify-content: space-between;
}

*>.flex-ai-c {
    align-items: center;
}

*>.flex-ai-s {
    align-items: flex-start;
}

*>.flex-ai-e {
    align-items: flex-end;
}

*>.flex-as-s {
    align-self: stretch;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-as-s {
    align-self: flex-start;
}

*>.flex-as-e {
    align-self: flex-end;
}

*>.flex-column-nowrap {
    flex-flow: column nowrap;
}

*>.flex-column-wrap {
    flex-flow: column wrap;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

.con {
    max-width: 1440px;
}

/* 커스텀 */
html,
body {
    overflow-x: hidden;
}


/* 스크롤바 변경 */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background:transparent;
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    color: #fff;
    overflow: hidden;
    z-index: 100;
    transition: height .3s, background-color .4s;
}

.top-bar:hover {
    height: 343px;
    color: #000;
    background-color: #fff;
}

.top-bar.white {
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #e5e5e5;
}

.top-bar:hover .top-border {
    border-bottom: 1px solid #e5e5e5;
}

.top-bar .top-inner .logo-box {
    width: 170px;
    height: 68px;
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/cm_bi_white.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150px auto;
    cursor: pointer;
}

.top-bar:hover .top-inner .logo-box {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/cm_bi_black.svg);
}

.top-bar.white .top-inner .logo-box {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/cm_bi_black.svg);
}

.top-bar .top-inner>.menu-box-1 {
    position: relative;
}

.top-bar .top-inner>.menu-box-1>ul {
    height: 70px;
}

.top-bar .top-inner>.menu-box-1>ul>li {
    padding: 0 50px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

.top-bar .top-inner>.menu-box-1>ul>li>span {
    display: block;
    font-weight: bold;
}

.top-bar .top-inner>.menu-box-1>ul ul {
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translateX(-50%);
    width: 100%;
    white-space: nowrap;
    font-size: 14px;
    color: #969696;
}

.top-bar .top-inner>.menu-box-1>ul ul li {
    padding: 6px 0;
}

.top-bar .top-inner>.menu-box-1>ul ul li:hover {
    color: #000;
}

.hover-bar {
    position: absolute;
    bottom: 0;
    height: 2px;
    transform: translate3d(0, 0, 0);
    background-color: #000;
    transition: width 0.3s, left 0.3s;
}

.top-bar .top-inner>.lang {
    cursor: pointer;
}

.top-bar .top-inner>.lang>span {
    padding: 0 15px;
    font-size: 13px;
    font-weight: bold;
}

.top-bar .top-inner>.lang>span:last-child {
    color: #999;
    position: relative;
}

.top-bar .top-inner>.lang>span:hover:last-child {
    color: #000;
}

.top-bar .top-inner>.lang>span:last-child::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 6px;
    transform: translateY(-3px);
    background-color: #999;
}

@media (max-width: 1280px) and (min-width: 1025px) {
    .top-bar .top-inner>.menu-box-1>ul>li {
        padding: 0 30px;
    }
}

@media (max-width: 1025px) {
    .top-bar {
        display: none;
    }
}

@media (min-width: 1026px) {
    .top-bar-2 {
        display: none;
    }
}

/* 탑바 끝 */

/* 반응형 탑바 시작 */
.top-bar-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 67px;
    z-index: 100;
    transition: background-color .4s;
}

.top-bar-2.white {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.top-bar-2>div:not(:nth-child(2)) {
    padding: 0 20px;
}

.top-bar-2>.menu-bar-icon>div {
    position: relative;
    width: 2rem;
    height: 1.492rem;
    cursor: pointer;
}

.top-bar-2>.menu-bar-icon>div>span {
    position: absolute;
    top: 0.166rem;
    left: 0;
    width: 32px;
    height: 4px;
    display: block;
    margin: 4px 0;
    background-color: #fff;
    transition: transform .3s;
}

.top-bar-2>.menu-bar-icon>div>span:nth-child(2) {
    top:0.666rem;
}

.top-bar-2>.menu-bar-icon>div>span:nth-child(3) {
    top: 1.166rem;
}

.top-bar-2.white>.menu-bar-icon>div>span {
    background-color: #000;
}

.top-bar-2.active>.menu-bar-icon>div>span {
    top: 35%;
}

.top-bar-2.active>.menu-bar-icon>div>span:nth-child(1) {
    transform: rotate(45deg);
}

.top-bar-2.active>.menu-bar-icon>div>span:nth-child(2) {
    opacity: 0;
}

.top-bar-2.active>.menu-bar-icon>div>span:nth-child(3) {
    transform: rotate(-45deg);
}

.top-bar-2 .logo-box-2 {
    width: 170px;
    height: 68px;
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/cm_bi_white.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150px auto;
    cursor: pointer;
}

.top-bar-2.white .logo-box-2 {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/cm_bi_black.svg);
}

.top-bar-2 .lang-2 {
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    color: #fff;
    cursor: pointer;
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/m_icn_lang_white.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.top-bar-2.white .lang-2 {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/m_icn_lang.svg);
}

.top-bar-2 .lang-2 .lang-bg {
    position: absolute;
    display: none;
    top: 110%;
    left: 0;
    width: 4.9rem;
    padding: 0.75rem 0;
    background-color: #fff;
    border:1px solid #e8e8e8;
}

.top-bar-2 .lang-2.active .lang-bg {
    display: block;
}

.top-bar-2 .lang-2 .lang-bg>li {
    color: #000;
    text-align: center;
    font-weight: bold;
    height: 3.66rem;
    font-size: 1.33rem;
    line-height: 3.66rem;
    opacity: 0;
    user-select: none;
    transition: transform .2s, opacity .2s;
    transform: translateY(-100%);
}

.top-bar-2 .lang-2 .lang-bg>li:last-child {
    color: #999;
}

.top-bar-2 .lang-2.active .lang-bg>li:first-child {
    animation: show .2s forwards;
}

.top-bar-2 .lang-2.active .lang-bg>li:last-child {
    animation: show .2s .1s forwards;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 반응형 탑바 끝 */

/* 탑버튼 시작 */
.top-btn {
    opacity: 0;
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    border: 1px solid #000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    overflow: hidden;
    background-color: #fff;
    z-index: 100;
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/icn_cm_arrow_up_black.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition:bottom .2s;
}
.top-btn.active {
    opacity: 1;
}
.top-btn.down {
    bottom:4.2rem;
}
.top-btn>div {
    position: relative;
}
.top-btn>div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    transform: translateY(100%);
    transition: transform .2s;
    z-index: 98;
    background-color: rgba(180, 180, 180, 0.5);
}
.top-btn:hover>div::after {
    transform: translateY(0);
}

/* 탑버튼 끝 */

/* 사이드 메뉴 시작 */

.side-menu-wrap>.side-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    margin-top: 68px;
    display: none;
    background-color: #fff;
}

.side-menu-wrap.active>.side-bg {
    display: block;
}

.side-menu-wrap>.side-bg>ul {
    margin: 2rem;
}

.side-menu-wrap>.side-bg>ul>li {
    cursor: pointer;
    padding-top: 1.5rem;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    opacity: 0;
    transition:transform .2s, opacity .2s;
}
.side-menu-wrap>.side-bg>ul>li:first-child {
    animation: show2 .2s forwards;
}
.side-menu-wrap>.side-bg>ul>li:nth-child(2) {
    animation: show2 .2s .1s forwards;
}
.side-menu-wrap>.side-bg>ul>li:nth-child(3) {
    animation: show2 .2s .2s forwards;
}
.side-menu-wrap>.side-bg>ul>li:nth-child(4) {
    animation: show2 .2s .3s forwards;
}
.side-menu-wrap>.side-bg>ul>li:nth-child(5) {
    animation: show2 .2s .5s forwards;
}
.side-menu-wrap>.side-bg>ul>li:nth-child(6) {
    animation: show2 .2s .6s forwards;
}
.side-menu-wrap>.side-bg>ul>li>a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1.42rem;
    font-weight: bold;
    padding-bottom: 1rem;
    border-bottom: 2px solid #efefef;
}

.side-menu-wrap>.side-bg>ul>li>a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1.666rem;
    width: 1.082rem;
    height: 1.082rem;
    border-right: 0.166rem solid #adadad;
    border-bottom: 0.166rem solid #adadad;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: center;
    transition: transform .2s;
}

.side-menu-wrap>.side-bg>ul>li.active2>a {
    border-bottom: 2px solid #000;
}

.side-menu-wrap>.side-bg>ul>li.active2>a::after {
    transform: translateY(-50%) rotate(225deg);
    border-color: #000;
}

.side-menu-wrap>.side-bg>ul ul {
    display: none;
    color: #7a7a7a;
    font-size: 1.25rem;
    padding-top: 1.5rem;
    line-height: 3rem;
}

.side-menu-wrap>.side-bg>ul ul>li {
    padding: 0 1.5rem;
}

.side-menu-wrap>.side-bg>ul ul .side-resume>a>i {
    width: 1.125rem;
    height: 1.125rem;
    display: inline-block;
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/icn_header_new_win.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 0.4rem;
}
@keyframes show2 {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform:translateY(0);
    }
}
@media (min-width:1024px) {
    .side-menu-wrap {
        display: none;
    }
}
/* 사이드 메뉴 끝 */


/* 슬라이더 시작 */
.bn-bar>.slider-div {
    width: 100%;
    height: 100%;
}

.bn-bar .bn {
    width: 100vw;
    height: 780px;
    position: relative;
    text-align: center;
}

.bn-bar .bn1 {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/XA5O7X5WZ2WHMID220200908081951677.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bn-bar .bn2 {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/LK0NPUH14VGBN5R020200911045821352.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bn-bar .bn3 {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/MMYPV8QO5YRX0F7820200908081836459.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bn-bar .slider-div .bn .title {
    color: #fff;
    font-size: 34px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    opacity: 0;
    font-weight: 400;
    transition: opacity 2s, transform 2s;
    transform: translate(-50%, 50%);
}

.slick-slide.slick-active .bn .title {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.slick-dots {
    position: absolute;
    bottom: 40px;
    z-index: 10;
}

.slick-dots li {
    margin: 0 10px;
}

.slick-dots li button::before {
    font-family: "";
    color: #fff !important;
    font-size: 22px !important;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    left: 0;
    width: 54px;
    height: 54px;
    margin: 0 40px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #fff;
}

.prev {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/icn_cm_arrow_right_white.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px auto;
    transform: rotate(180deg) translateY(50%);
    position: absolute;
    top: 50%;
    left: 0;
    width: 54px;
    height: 54px;
    margin: 0 40px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #fff;
}

.next {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/icn_cm_arrow_right_white.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px auto;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: auto;
    right: 0;
    width: 54px;
    height: 54px;
    margin: 0 40px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #fff;
}

.next::after {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    transition: top .2s;
}

.prev::after {
    content: "";
    position: absolute;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    transition: top .2s;
}

.prev:hover::after,
.next:hover::after {
    top: 0;
}

@media (max-width:1024px) {
    .bn-bar .bn {
        height: 71.875vw;
        cursor: pointer;
    }

    .bn-bar .slider-div .bn .title {
        font-size: 1.6rem;
        width: 74%;
        letter-spacing: -0.1rem;
    }

    .button {
        display: none;
    }
}

@media (max-width:767px) {
    .bn-bar .bn {
        height: 122.6vw;
    }

    .slick-dots li button::before {
        font-size: 2.48rem !important;
    }

    .top-bar-2>.menu-bar-icon>div>span {
        width: 32px;
        height: 2px;
    }

    .bn-bar .slider-div .bn .title {
        bottom: 7%;
    }
}

@media (min-width:1025px) {
    .bn-bar .bn {
        user-select: none;
    }
}

/* 슬라이더 끝 */

/* news 시작 */
.news-box {
    padding-top: 30px;
}

.news-box>ul>li {
    width: calc(100% / 3);
    padding: 30px 0;
    box-sizing: border-box;
    position: relative;
}

.news-box>ul>li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-60%);
    width: 1px;
    height: 92px;
    background-color: #e5e5e5;
}

.news-box>ul>li>.news-text-box {
    padding-right: 30px;
    width: 80%;
}

.news-box>ul>li>#text-last {
    border-right: transparent;
}

.news-box>ul>li>.news-text-box>* {
    width: 100%;
    display: block;
    cursor: pointer;
}

.news-box>ul>li>.news-text-box>h4:hover {
    text-decoration: underline;
}

.news-box>ul>li>.news-text-box>p {
    font-size: 12px;
    color: #939393;
    margin: 14px 0 24px 0;
}

.news-box>ul>li>.news-text-box>.news-cont {
    font-size: 14px;
    color: #6a6a6a;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}

@media (max-width:1100px) {
    .news-box {
        padding: 30px 0 0 30px;
    }

    .news-box>ul>li>.news-text-box>h4 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
    }

    .news-box>ul>li>.news-text-box>p {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: keep-all;
        text-overflow: ellipsis;
        white-space: normal;
    }
}

@media (max-width:1024px) {
    .news-box>ul>li>.news-text-box {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #191c21;
        overflow: hidden;
        word-break: keep-all;
        text-overflow: ellipsis;
        white-space: normal;
    }

    .news-box>ul>li>.news-text-box>h4 {
        font-size: 1.126rem;
        line-height: 1.92rem;
        max-height: 3.84rem;
        overflow: hidden;
    }

    .news-box>ul>li>.news-text-box>.date {
        font-size: 16px;
        margin: 14px 0 41px 0;
    }

    .news-box>ul>li>.news-text-box>.news-cont {
        font-size: 1.08rem;
    }

    .news-box>ul>li:not(:last-child)::after {
        display: none;
    }
}

@media (max-width:767px) {
    .news-box {
        display: none;
    }
}

@media (min-width:768px) {
    .news-box-2 {
        display: none;
    }
}

/* news 끝  */

/* news2 시작 */
.news-box-2 {
    padding: 2rem 1.666rem 3.6rem 1.666rem;
}

.news-box-2>.owl-carousel .item {
    height: 200px;
}

.news-box-2>h3 {
    font-size: 1.416rem;
}

.news-box-2>.owl-carousel .item .news-text-box-2 {
    cursor: pointer;
}

.news-box-2>.owl-carousel .item .news-text-box-2>h4 {
    font-size: 1.16rem;
    margin-top: 2.2rem;
}

.news-box-2>.owl-carousel .item:hover .news-text-box-2>h4 {
    text-decoration: underline;
}

.news-box-2>.owl-carousel .item .news-text-box-2>.date {
    font-size: 1rem;
    color: #939393;
    margin-top: 2rem;
}

.news-box-2>.owl-carousel .item .news-text-box-2>.news-cont {
    font-size: 1.08rem;
    color: #6a6a6a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin-top: 2.3rem;
}

.news-box-2>.owl-carousel .owl-dots>.owl-dot>span {
    background-color: #000;
    opacity: 0.4;
    margin: 5px 7px;
}

.news-box-2>.owl-carousel .owl-dots>.owl-dot.active>span {
    opacity: 1;
}

/* news2 끝 */


/* 메인메뉴 시작 */
.main-menu-wrap {
    padding: 30px 0;
}

.main-menu-wrap>ul>li {
    width: calc(100% / 5);
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, transform .3s;
    transform: translateY(200px);
}

.main-menu-wrap>ul>li:nth-child(2) {
    transition: opacity .5s, transform .5s;
}

.main-menu-wrap>ul>li:nth-child(3) {
    transition: opacity .7s, transform .7s;
}

.main-menu-wrap>ul>li:nth-child(4) {
    transition: opacity .9s, transform .9s;
}

.main-menu-wrap>ul>li:nth-child(5) {
    transition: opacity 1.1s, transform 1.1s;
}

.main-menu-wrap.active>ul>li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.main-menu-wrap>ul>li>a {
    overflow: hidden;
    height: 576px;
    width: 100%;
}

.main-menu-wrap>ul>li>a>.img {
    background-repeat: no-repeat;
    background-position: center center;
    height: 576px;
    width: 100%;
    height: auto;
    filter: grayscale(0.8);
    transition: filter .5s, transform .5s;
}

.main-menu-wrap>ul>li:hover>a>.img {
    filter: grayscale(0);
    transform: scale(1.2);
}

.main-menu-wrap>ul>li>a>.main-text-box {
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
    color: #fff;
}

.main-menu-wrap>ul>li>a>.main-text-box>h4 {
    font-size: 24px;
    transition: transform .5s;
}

.main-menu-wrap>ul>li:hover>a>.main-text-box>h4 {
    transform: translateY(-60%);
}

.main-menu-wrap>ul>li>a>.main-text-box>.line {
    position: absolute;
    left: calc(50% - 10px);
    transform: translateY(-50%);
    width: 20px;
    height: 1px;
    opacity: 0;
    transition: opacity .3s;
    background-color: #fff;
}

.main-menu-wrap>ul>li:hover>a>.main-text-box>.line {
    opacity: 1;
}

.main-menu-wrap>ul>li>a>.main-text-box>.main-cont {
    font-size: 18px;
    padding-top: 30px;
    opacity: 0;
    transition: opacity .3s;
}

.main-menu-wrap>ul>li:hover>a>.main-text-box>.main-cont {
    opacity: 1;
}

/* 메인메뉴 끝 */

/* 메인메뉴2 시작 */

.main-2-wrap {
    height: 81vw;
}

.main-2-wrap>ul {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/t_spr_main_category_bg.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
}

.main-2-wrap>ul>.main-vision,
.main-2-wrap>ul>.main-lab {
    width: 50%;
    height: 41.4vw;
}

.main-2-wrap>ul>.main-culture,
.main-2-wrap>ul>.main-human,
.main-2-wrap>ul>.main-news {
    width: calc(100% / 3);
    height: 41.4vw;
}

.main-2-wrap>ul>li>a {
    width: 100%;
    height: 100%;
    position: relative;
}

.main-2-wrap>ul>li>a>.main-2-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    white-space: nowrap;
}

.main-2-wrap>ul>li>a>.main-2-text>h4 {
    font-size: 1.625rem;
}

.main-2-wrap>ul>li>a>.main-2-text>p {
    font-size: 1.25rem;
    padding-top: 16px;

}

@media (max-width:1024px) {
    .main-menu-wrap {
        display: none;
    }
}

@media (min-width:1025px) {
    .main-2-wrap {
        display: none;
    }
}

/* 메인메뉴2 끝 */

/* 메인메뉴3 시작 */

.main-3-wrap>ul>li {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/m_spr_main_category_bg.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100vw auto;
    height: 37vw;
    border-bottom: 1px solid #fff;
}

.main-3-wrap>ul>.main-lab {
    background-position: 0 -37.6vw;
}

.main-3-wrap>ul>.main-culture {
    background-position: 0 -75vw;
}

.main-3-wrap>ul>.main-human {
    background-position: 0 -112.48vw;
}

.main-3-wrap>ul>.main-news {
    background-position: 0 -150vw;
}

.main-3-wrap>ul>li>a {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
}

.main-3-wrap>ul>li>a>.main-3-text>h4 {
    font-size: 1.75rem;
}

.main-3-wrap>ul>li>a>.main-3-text>p {
    margin-top: 1rem;
    font-size: 1.33rem;
}

@media (max-width:767px) {
    .main-2-wrap {
        display: none;
    }
}

@media (min-width:768px) {
    .main-3-wrap {
        display: none;
    }
}

/* 메인메뉴3 끝 */

/* lastest 시작 */
.lastest-wrap {
    margin-top: 30px;
    overflow: hidden;
}

.lastest-wrap>ul {
    padding: 60px 0 15% 0;
    margin-right: -20px;
}

.lastest-wrap>ul>li {
    width: calc((100% / 4) - 20px);
    margin-right: 20px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: opacity .5s, transform .5s;
}

.lastest-wrap>ul>li:nth-child(2) {
    transition: opacity .7s, transform .7s;
}

.lastest-wrap>ul>li:nth-child(3) {
    transition: opacity .9s, transform .9s;
}

.lastest-wrap>ul>li:nth-child(4) {
    transition: opacity 1.1s, transform 1.1s;
}

.lastest-wrap.active>ul>li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.lastest-wrap>ul>li:last-child {
    margin-right: 0;
}

.lastest-wrap>ul>li>a>.img-2 {
    overflow: hidden;
}

.lastest-wrap>ul>li>a>.img-2>img {
    width: 100%;
    display: block;
    transition: transform 1s;
}

.lastest-wrap>ul>li:hover>a>.img-2>img {
    transform: scale(1.1);
}

.lastest-wrap>ul>li>a>.lastest-text-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-right: 1rem;
}

.lastest-wrap>ul>li>a>.lastest-text-box>.last-text-1 {
    color: #6a6a6a;
    font-size: 14px;
    padding: 20px 0;
}

.lastest-wrap>ul>li>a>.lastest-text-box>.last-text-2 {
    width: 100%;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #1e1e1e;
    font-size: 18px;
    font-weight: bold;
}

@media (max-width:1070px) {
    .lastest-wrap>ul>li {
        margin: 0 10px;
    }
}

@media (max-width:1024px) {
    .lastest-wrap {
        display: none;
    }
}

@media (min-width:1025px) {
    .lastest-2 {
        display: none;
    }
}

/* lastest 끝 */

/* lastest-2 시작 */
.lastest-2 {
    margin: 60px 20px;
}

.lastest-2 .owl-carousel {
    padding-bottom: 30px;
}

.lastest-2 .owl-carousel .item {
    display: block;
    padding: 20px 0 60px 0;
}

.lastest-2 .owl-carousel .item .lastest-text-box-2>.last-text-1 {
    color: #6a6a6a;
    font-size: 14px;
    margin: 20px 0;
}

.lastest-2 .owl-carousel .item .lastest-text-box-2>.last-text-2 {
    color: #1e1e1e;
    font-size: 18px;
    font-weight: bold;
}

.lastest-2 .owl-carousel .owl-dot {
    margin: 0 8px;
}

.lastest-2 .owl-carousel .owl-dot.active {
    outline: none;
}

.lastest-2 .owl-carousel .owl-dot>span {
    width: 0.48rem;
    height: 0.48rem;
    border-radius: 0.24rem;
}

.lastest-2 .owl-carousel .owl-dot.active>span {
    background-color: #000;

}

/* lastest-2 끝 */

/* footer 시작 */
.footer-1 {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 3% 0 2% 0;
}

.footer-1>.foot-wrap {
    margin: 0 auto;
    width: 63%;
}

.footer-1>.foot-wrap>ul>li {
    width: calc(100% / 6);
    white-space: nowrap;
}

.footer-1>.foot-wrap>ul>li>a {
    font-weight: 500;
}

.footer-1>.foot-wrap>ul ul {
    margin-top: 10px;
}

.footer-1>.foot-wrap>ul ul>li {
    font-size: 14px;
    color: #969696;
    padding: 6px 0;
}

.footer-1>.foot-wrap>ul ul>li:hover {
    color: #000;
}

.footer-1>.foot-wrap>.foot-menu-2 {
    margin: 20px 0;
}

.copy-wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 30px 0;
}

.copy-wrap>div {
    padding: 0 20px;
}

.copy-wrap>.foot-logo>img {
    width: 8.5rem;
    height: 1rem;
    cursor: pointer;
}

.copy-wrap>.copy-right {
    color: #6a6a6a;
    font-size: 14px;
    opacity: 0.5;
}

.copy-wrap>.sns-wrap {
    position: absolute;
    top: 30%;
    right: 10%;
}

.copy-wrap>.sns-wrap>ul>li {
    width: 40px;
    height: 40px;
    margin: 0 6px;
    transition: color .2s;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.copy-wrap>.sns-wrap>ul>li:hover>a {
    color: #969696;
}

.copy-wrap>.sns-wrap>ul>li>a>i {
    width: 40px;
    height: 40px;
    display: inline-block;
    transition: opacity .5s;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.copy-wrap>.sns-wrap>ul>li>a>.icon-1 {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/icn_footer_facebook_round.svg);
}

.copy-wrap>.sns-wrap>ul>li>a>.icon-2 {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/icn_footer_youtube_round.svg);
}

.copy-wrap>.sns-wrap>ul>li>a>.icon-3 {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/icn_footer_linkedin_round.svg);
}

.copy-wrap>.sns-wrap>ul>li:hover>a>i {
    opacity: 0.6;
}

@media (max-width:1280px) {
    .footer-1>.foot-wrap {
        margin: 0 0;
        width: 100%;
    }
}

@media (max-width:1024px) {

    .footer-1,
    .copy-wrap {
        display: none;
    }
}

@media (min-width:1025px) {

    .footer-2,
    .copy-wrap-2 {
        display: none;
    }
}

/* footer 끝 */

/* footer 2 시작 */
.footer-2 {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 3% 0 2% 0;
}

.footer-2>.footer-2-wrap {
    margin: 0 3%;
}

.footer-2>.footer-2-wrap>ul>li {
    padding: 1.25rem 0;
    font-size: 1.083rem;
    font-weight: bold;
    cursor: pointer;
}

.footer-2>.footer-2-wrap>ul>li>div {
    position: relative;
}

.footer-2>.footer-2-wrap>ul>li>div>a {
    width: 100%;
    height: 100%;
    display: block;
}

.footer-2>.footer-2-wrap>ul>li>div>span {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/icn_cm_plus.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform .4s;
}

.footer-2>.footer-2-wrap>ul>li.active>div>span {
    transform: rotate(45deg);
}

.footer-2>.footer-2-wrap>ul>.store>a>i,
.footer-2>.footer-2-wrap>ul>.customer>a>i,
.footer-2>.footer-2-wrap>ul ul>li>a>i {
    width: 1.125rem;
    height: 1.125rem;
    display: inline-block;
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/icn_header_new_win.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 0.4rem;
}

.footer-2>.footer-2-wrap>ul ul {
    color: #969696;
    font-weight: normal;
    display: none;
    width: 100%;
    height: 100%;
    margin: 0.7rem 0;
}

.footer-2>.footer-2-wrap>ul ul>li>a {
    display: block;
    padding: 0.84rem 0 0.34rem 0;
    font-size: 1rem;
}

.copy-wrap-2 {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.copy-wrap-2>div {
    padding: 0 20px;
}

.copy-wrap-2>.sns-wrap-2 {
    margin: 0 auto;
    text-align: center;
    padding: 23px 0;
    border-bottom: 1px solid #e5e5e5;
}

.copy-wrap-2>.sns-wrap-2>ul>li {
    width: 40px;
    height: 40px;
    margin: 0 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.copy-wrap-2>.sns-wrap-2>ul>li>a>i {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.copy-wrap-2>.sns-wrap-2>ul>li>a>.icon-1 {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/icn_footer_facebook_round.svg);
}

.copy-wrap-2>.sns-wrap-2>ul>li>a>.icon-2 {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/icn_footer_youtube_round.svg);
}

.copy-wrap-2>.sns-wrap-2>ul>li>a>.icon-3 {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/pearlabyss/icn_footer_linkedin_round.svg);
}

.copy-wrap-2>.foot-logo-2 {
    margin: 0.9rem 0 0.7rem 0;
}

.copy-wrap-2>.foot-logo-2>img {
    width: 8.5rem;
    height: 1rem;
    cursor: pointer;
}

.copy-wrap-2>.copy-right-2 {
    color: #6a6a6a;
    opacity: 0.5;
    margin-bottom: 0.92rem;
    font-size: 0.933rem;
}

/* footer 2 끝 */