@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: 'Noto Sans KR', sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 10px solid red;
}

.border-green {
    border: 10px solid green;
}

.border-blue {
    border: 10px solid blue;
}

.border-gold {
    border: 10px solid gold;
}

.border-pink {
    border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-c {
    justify-content: center;
}

*>.flex-jc-s {
    justify-content: flex-start;
}

*>.flex-jc-e {
    justify-content: flex-end;
}

*>.flex-jc-sb {
    justify-content: space-between;
}

*>.flex-ai-c {
    align-items: center;
}

*>.flex-ai-s {
    align-items: flex-start;
}

*>.flex-ai-e {
    align-items: flex-end;
}

*>.flex-as-s {
    align-self: stretch;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-as-s {
    align-self: flex-start;
}

*>.flex-as-e {
    align-self: flex-end;
}

*>.flex-column-nowrap {
    flex-flow: column nowrap;
}

*>.flex-column-wrap {
    flex-flow: column wrap;
}

*>.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 커스텀 */

.con-min-width {
    min-width: 1336px;
}

.con {
    max-width: 1760px;
    padding:0 80px;
}
::selection {
    background: rgba(255,238,51,0.99);
}
@media (max-width:1440px) {
    .con {
        max-width: 1370px;
        padding:0 80px;
    }
}
body, html {
    min-width:1336px;
}
/* 탑바 시작 */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
    background-color: #fff;
}

.top-bar>div {
    height: 60px;
}

.top-bar>div>.menu-box>ul>li {
    padding: 0 10px;
    width: 100%;
    white-space: nowrap;
}

.hover-bar {
    position: absolute;
    bottom: -2px;
    height: 2px;
    background-color: #000;
}

.top-bar>div>.menu-box>ul>li:last-child>a {
    position: relative;
}

.top-bar>div>.menu-box>ul>li:last-child>a>span {
    position: absolute;
    display: inline-block;
    top: 25px;
    right: 0;
    width: 14px;
    height: 14px;
    overflow: hidden;
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/kakao/ico_corp_181031.png);
    background-position: -155px 0;
}

.top-bar>div>.menu-box>ul>li>a {
    width: 100%;
    height: 100%;
    padding: 0 5px;
    z-index: 10;
}

.top-bar>div>.menu-box>ul>li>.sub-menu-box {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}

.top-bar>div>.menu-box>ul>li:first-child:hover>.sub-menu-box-1 {
    display: block;
}

.top-bar>div>.menu-box>ul>li:nth-child(2):hover>.sub-menu-box-2 {
    display: block;
}

.top-bar>div>.menu-box>ul>li:nth-child(3):hover>.sub-menu-box-3 {
    display: block;
}

.top-bar>div>.menu-box>ul>li:nth-child(4):hover>.sub-menu-box-4 {
    display: block;
}

.top-bar>div>.menu-box>ul>li>.sub-menu-box>ul {
    width: 1160px;
    height: 100%;
    margin: 0 auto;
}

.top-bar>div>.menu-box>ul>li>.sub-menu-box>ul>li {
    border-right: 1px solid #e5e5e5;
    padding: 60px 0;
}

.top-bar>div>.menu-box>ul>li>.sub-menu-box>ul>li:first-child {
    border-left: 1px solid #e5e5e5;
}

.top-bar>div>.menu-box>ul>li>.sub-menu-box-1>ul>li {
    width: calc(100% / 6);
    font-size: 14px;
}

.top-bar>div>.menu-box>ul>li>.sub-menu-box-2>ul>li,
.top-bar>div>.menu-box>ul>li>.sub-menu-box-3>ul>li {
    width: calc(100% / 8);
    font-size: 14px;
}

.top-bar>div>.menu-box>ul>li>.sub-menu-box-4>ul>li {
    width: calc(100% / 5);
    font-size: 14px;
}

.top-bar>div>.menu-box>ul>li>.sub-menu-box>ul>li>a {
    display: block;
    text-align: center;
    width: 100%;
}
.top-bar>div>.menu-box>ul>li>.sub-menu-box>ul ul > .business > a > span {
    display:inline-block;
    margin: 10px 0 0 7px;
    width: 14px;
    height: 14px;
    overflow: hidden;
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/kakao/ico_corp_181031.png);
    background-position: -155px 0;
}
.top-bar>div>.menu-box>ul>li>.sub-menu-box>ul>li>ul {
    text-align: center;
    padding-top: 20px;
}

.top-bar>div>.menu-box>ul>li>.sub-menu-box>ul>li>ul>li {
    font-size: 13px;
    color: #666;
    padding: 5px 0;
}

.top-bar>div>.lang {
    font-size: 14px;
}

.top-bar>div>.lang>span {
    padding: 0 8px;
    cursor: pointer;
}

.top-bar>div>.lang>.eng {
    color: #666;
    font-weight: 300;
}

.top-bar>div>.lang>.eng:hover {
    color: #333;
    font-weight: 500;
}
@media (max-width:1440px) {
    .con {
        max-width: 1370px;
        padding:0 80px;
    }
}
@media (max-width:1240px) {
    .con {
        padding:0 40px;
    }
}
/* 탑바 끝 */

/* 메인 시작 */
.video-box {
    position: relative;
    padding-top: 60px;
    height: calc(100vh - 60px);
}

.video-box>video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.video-box>.video-cont>h1 {
    position: absolute;
    top: 24%;
    left: 8%;
    color: #fff;
    font-size: 2.91666667vw;
    line-height: 3.61111111vw;
}
@media (max-width:1440px) {
    .video-box>.video-cont > h1 {
        font-size: 2.625rem;
        line-height: 3.25rem;
        letter-spacing: -.09375rem;
        font-weight: 700;
    }
}
/* 메인 끝 */

/* 카카오관점 시작 */
.kakao-wrap {
    margin:0 auto;
    padding-top: 85px;
    padding-right: 80px;
    padding-bottom: 35px;
    padding-left: 80px;
    max-width: 1920px;
}
.kakao-wrap >.kakao-box {
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5.16rem;
    padding-bottom: 6.16rem;
    background-color: #f4f4f4;
    border-radius: 1.66666667rem;
    height:40rem;
    width:100%;
}

.kakao-wrap >.kakao-box>.kakao-cont {
    width: 100%;
    margin-left: 3%;
}

.title {
    font-size: 2.91666667vw;
    line-height: 3.61111111vw;
    padding-bottom:1.5rem;
    letter-spacing: -.125rem;
}

.kakao-go {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/kakao/arr-r.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 2.5vw;
    margin-top:2.5vh;
    font-weight: 700;
    font-size: 1.11111111vw;
}
.kakao-go:hover {
    text-decoration: underline;
}
.kakao-wrap >.kakao-box > .video-box-2 {
    position: absolute;
    left: 1.66666667rem;
    right: 1.66666667rem;
    bottom:2rem;
    width:100%;
}
.kakao-wrap >.kakao-box > .video-box-2 > video {
    width:95%;
}
.kakao-wrap >.history-box {
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5.16rem;
    padding-bottom: 6.16rem;
    background-color: #f4f4f4;
    border-radius: 1.66666667rem;
    height:40rem;
    width:100%;
}
.kakao-wrap >.history-box > .history-cont {
    width: 100%;
    margin-left: 3%;
}
.kakao-wrap >.history-box > .history-cont > .kakao-go {
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/kakao/arr-rt.svg);
}
.kakao-wrap >.history-box > .history-img {
    position: absolute;
    right: 4.16666667rem;
    bottom: 4.16666667rem;
    width: 73.66666667rem;
    height: 29.83333333rem;
}
.kakao-wrap >.history-box > .history-img > img {
    width:100%;
}
@media (max-width: 1440px) {
    .kakao-wrap >.kakao-box {
        position: relative;
        border-radius: 1.25rem;
        overflow: hidden;
        padding-top: 3.125rem;
        padding-right: 3.125rem;
        padding-bottom: 0;
        padding-left: 3.125rem;
        height: 40rem;
        box-sizing: border-box;
    }
    .title {
        font-size: 2.625rem;
        line-height: 3.25rem;
        letter-spacing: -.09375rem;
        font-weight: 700;
    }
    .kakao-go {
        font-size: 1rem;
        line-height: 1.75rem;
        letter-spacing: -.03125rem;
        font-weight: 700;
        margin-top: 1.5625rem;
        padding-left: 2.25rem;
    }
    .kakao-wrap >.history-box > .history-img {
        width: 55.25rem;
        height: 22.375rem;
        right: 3.125rem;
        bottom: 3.125rem;
    }
}
/* 카카오관점 끝 */

/* summary 시작 */
.summary-wrap > ul {
    margin:0 auto;
    padding-bottom: 85px;
    max-width: 1920px;
}
.summary-wrap > ul > li {
    width:33.3333%;
    padding:0 20px;
    cursor: pointer;
}
.summary-wrap > ul > li > .sum-title {
    font-size:14px;
}
.summary-wrap > ul > li > .sum-sub {
    display:block;
    font-size:20px;
    padding-top: 18px;
    line-height: 32px;
}
.summary-wrap > ul > li > .sum-cont {
    padding-top: 8px;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    font-weight: 300;
}
.summary-wrap > ul > li > .stock-box {
    padding-top:33px;
}
.summary-wrap > ul > li > .stock-box > .stock {
    font-size:32px;
}
.summary-wrap > ul > li > .stock-box > .stock-up {
    width:18px;
    height:14px;
    overflow: hidden;
    margin: 19px 0 0 18px;
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/kakao/ico_corp_181031.png);
    background-position: -40px -20px;
}
.summary-wrap > ul > li > .stock-box > .stock-num {
    color: #ff0018;
    font-size:20px;
    margin: 10px 0 0 8px;
}
.summary-wrap > ul > li > .date {
    font-size:12px;
    color: #666;
    font-weight: 300;
    padding-top:33px;
}
.summary-wrap > ul > li:not(:nth-child(2)):hover > .sum-sub {
    text-decoration: underline;
}
/* summary 끝 */

/* service 시작 */
.service-wrap > ul {
    margin:0 auto;
    padding-bottom: 180px;
    max-width: 1920px;
}
.service-wrap> ul > li {
    width:33.3333%;
    padding:0 20px;
    cursor: pointer;
}
.service-wrap> ul > li > .service-imgbox {
    width:100%;
}
.service-wrap> ul > li > .service-imgbox > img {
    width: 100%;
    height:100%;
    border-radius: 1.04166667vw;
}
.service-wrap> ul > li > .service-title {
    display: block;
    font-size:20px;
    padding-top: 21px;
    line-height: 32px;
    color: #1e1e1e;
}
.service-wrap> ul > li > .service-cont {
    padding-top: 8px;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    font-weight: 300;
}
.service-wrap> ul > li:hover > .service-title {
    text-decoration: underline;
}
/* service 끝 */

/* footer 시작 */
footer {
    border-top:1px solid #d4d4d4;
}
footer > .foot-wrap {
    padding-top:22px;
    padding-bottom:40px;
    font-size: 12px;
    font-weight: 300;
    color: #1e1e1e;
}
footer > .foot-wrap > ul {
    margin-bottom:-7px;
}
footer > .foot-wrap > ul > li {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}
footer > .foot-wrap > ul > .bold {
    font-weight: bold;
}
footer > .foot-wrap > ul > .bold > * {
    font-weight: 300;
}
footer > .foot-wrap > ul > li > span {
    width: 7px;
    height: 4px;
    margin: 5px 0 0 6px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/kakao/ico_corp_181031.png);
    background-position: -275px -25px;
}
footer > .foot-wrap > ul > li > .ico-new {
    width: 11px;
    height: 11px;
    margin: 3px 0 0 2px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    background-position: -100px -50px;
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/kakao/ico_corp_181031.png);
}

footer > .foot-wrap > ul > .related-sites {
    position: relative;
    width:160px;
    height: 29px;
    border-bottom:1px solid #1e1e1e;
}

footer > .foot-wrap > ul > .related-sites > .ico-cross {
    width: 9px;
    height: 9px;
    background-position: -143px -65px;
}

footer > .foot-wrap > ul > li > ul {
    display: none;
    position: absolute;
    bottom:29px;
    left:0;
    padding:12px 0;
    border: 1px solid #d4d4d4;
    background-color: #fff;
}
footer > .foot-wrap > ul ul > li > a {
    display:block;
    color: #666;
    padding: 0 14px;
    font-size: 12px;
    line-height: 30px;
    white-space: nowrap;
}
footer > .foot-wrap > ul ul > li > a > span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 7px 0 0 6px;
    background-position: -155px 0;
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/kakao/ico_corp_181031.png);
}
footer > .foot-wrap > ul > .related-sites > ul {
    width: 158px;
}
footer > .foot-wrap > ul > .related-sites > ul > li > a {
    display: block;
    padding-left:14px;
    line-height: 30px;
    color:#666;
    font-weight: 300;
}
footer > .foot-wrap > ul > li > ul > li:hover > a {
    text-decoration: underline;
}
footer > .foot-wrap > ul > .related-sites.active {
    font-weight: bold;
}
footer > .foot-wrap > ul > .related-sites.active > .ico-cross {
    transform:rotate(45deg);
}
footer > .foot-wrap > ul > li.active > ul {
    display: block;
}
footer > .foot-wrap > ul > li:hover > span,footer > .foot-wrap > ul > li.active > span {
    transform:rotate(180deg);
}
footer > .foot-wrap > .copy-right {
    display: inline-block;
    color: #1e1e1e;
}
/* footer 끝 */

/* 탑버튼 시작 */
.top-btn-box {
    display: none;
    position: fixed;
    bottom:60px;
    right:40px;
}
.top-btn-box > .top-btn {
    display: block;
}
.top-btn-box >.top-btn > span {
    display: inline-block;
    width: 21px;
    height: 30px;
    overflow: hidden;
    background-position: -90px -10px;
    background-image: url(https://cdn.jsdelivr.net/gh/Sung-kyung/img1/pf/kakao/ico_corp_181031.png);
}
.top-btn-box.show{
    display: block;
}
/* 탑버튼 끝  */