@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,
body {
  font-family: 'Noto Sans KR','Nanum Myeongjo', sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

label[for] {
  cursor: pointer;
  user-select: none;
}

/* 라이브러리 */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.absolute-left {
  position: absolute;
  left: 0;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-middle.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.relative {
  position: relative;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.cell-right {
  float: right;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.clear-both {
  clear: both;
}

.img-box>img {
  width: 100%;
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.margin-0-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.line-height-0 {
  line-height: 0;
}

.line-height-0>* {
  line-height: normal;
}

.width-30px {
  width: 30px;
}

.width-35px {
  width: 35px;
}

.width-40px {
  width: 35px;
}

.width-45px {
  width: 35px;
}

.width-50px {
  width: 50px;
}

.width-80px {
  width: 80px;
}

.width-100px {
  width: 100px;
}

.width-100p {
  width: 100%;
}

.width-60p {
  width: 60%;
}

.width-55p {
  width: 55%;
}

.width-50p {
  width: 50%;
}

.width-45p {
  width: 45%;
}

.width-40p {
  width: 40%;
}

.width-30p {
  width: 30%;
}

.width-35p {
  width: 35%;
}

.width-100p-except-30px {
  width: calc(100% - 30px);
}

.width-100p-except-35px {
  width: calc(100% - 35px);
}

.width-100p-except-40px {
  width: calc(100% - 40px);
}

.width-100p-except-50px {
  width: calc(100% - 50px);
}

.width-100p-except-80px {
  width: calc(100% - 80px);
}

.width-100p-except-100px {
  width: calc(100% - 100px);
}

.height-100p {
  height: 100%;
}

.height-50p {
  height: 50%;
}

.border-box {
  box-sizing: border-box;
}

.font-size-dot-8rem {
  font-size: .8rem;
}

.table-row {
  display: table;
}

.table-row.row::after {
  display: inline;
  clear: non;
}

.table-row>.cell {
  float: none;
  display: table-cell;
}

.border-red {
  border: 10px solid red;
}

.border-green {
  border: 10px solid green;
}

.border-blue {
  border: 10px solid blue;
}

.border-gold {
  border: 10px solid gold;
}

.border-pink {
  border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
  display: flex;
}

*>.flex-grow-1 {
  flex-grow: 1;
}

*>.flex-jc-c {
  justify-content: center;
}

*>.flex-jc-s {
  justify-content: flex-start;
}

*>.flex-jc-e {
  justify-content: flex-end;
}

*>.flex-jc-sb {
  justify-content: space-between;
}

*>.flex-ai-c {
  align-items: center;
}

*>.flex-ai-s {
  align-items: flex-start;
}

*>.flex-ai-e {
  align-items: flex-end;
}

*>.flex-as-s {
  align-self: stretch;
}

*>.flex-as-c {
  align-self: center;
}

*>.flex-as-s {
  align-self: flex-start;
}

*>.flex-as-e {
  align-self: flex-end;
}

*>.flex-column-nowrap {
  flex-flow: column nowrap;
}

*>.flex-column-wrap {
  flex-flow: column wrap;
}

*>.flex-row-wrap {
  flex-flow: row wrap;
}

.flex-ch-basis-0>* {
  flex-basis: 0;
}

*>.flex-1-0-0 {
  flex: 1 0 0;
}

/* 커스텀 */

/* 고정형 .con 시작 */
/* .con-min-width {
    min-width:1370px;
  }
  
  .con {
    width:1800px;
  } */
/* 고정형 .con 끝 */

/* popup 시작 */
.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: #0a4594;
  transition: height .2s;
  color: #fff;
}

.pop-up.hide {
  height: 0;
}

.pop-up>.popup-text {
  position: relative;
  display: block;
  margin: 0 auto;
  height: inherit;
  max-width: 1280px;
  text-align: center;
}

.pop-up>.popup-text>.pop-title {
  font-size: 22px;
  line-height: 26px;
  margin-top: 20px;
}

.pop-up>.popup-text>.pop-cont {
  font-size: 14px;
  margin-top: 8px;
  opacity: 0.8;
}

.pop-up>.popup-text>.check-box {
  position: absolute;
  right: 0;
  bottom: 30px;
  height: 24px;
}

.pop-up>.popup-text>.check-box>input {
  width: 12px;
  height: 12px;
  position: absolute;
  left: -1px;
  top: 3px;
}

.pop-up>.popup-text>.check-box>label {
  position: relative;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 18px;
  padding-left: 22px;
}

.pop-up>.popup-text>.check-box>label::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 7px;
  top: 9px;
  background-color: #fff;
  z-index: 10;
}

.pop-up>.popup-text>.check-box>label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 1px;
  display: block;
  width: 12px;
  height: 12px;
  background: #0a4594;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.pop-up>.popup-text>.check-box>input:checked+label::before {
  width:8px;
  height: 8px;
  left: 4px;
  top: 5px;
}

.pop-up>.popup-text>.check-box>.close {
  width: 15px;
  height: 15px;
  background-image: url(https://sung-kyung.github.io/img1/pf/komsco/bannerzone_close_ico.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}

/* popup 끝 */

/* 탑바 시작 */
.top-bar {
  width: 100%;
  height: 110px;
  position: fixed;
  top: 120px;
  left: 0;
  z-index: 100;
  color: #fff;
  transition: top .3s;
}

.top-bar.active {
  top: 0;
}

.top-bar:hover,
.top-bar.active {
  color: #222;
  background-color: #fff;
}

.top-bar>.top-bar-wrap {
  height: 100%;
}

.top-bar>.top-bar-wrap>div:not(:first-child) {
  height: 100%;
}

.top-bar>.top-bar-wrap>.logo {
  width: 125px;
  height: 43px;
  margin-left: 2%;
  background-image: url(https://sung-kyung.github.io/img1/pf/komsco/logo.png);
}

.top-bar:hover>.top-bar-wrap>.logo,
.top-bar.active>.top-bar-wrap>.logo {
  background-image: url(https://sung-kyung.github.io/img1/pf/komsco/logo2.png);
}

.top-bar>.top-bar-wrap>.menu-box {
  padding: 0 13%;
  white-space: nowrap;
  z-index: 3;
}

.top-bar>.top-bar-wrap>.menu-box>ul>li {
  padding: 0 30px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 500;
}

.top-bar>.top-bar-wrap>.menu-box>ul>li>a:hover {
  color: #1a5bb1;
}

.top-bar>.top-bar-wrap>.menu-box>ul>li>a {
  position: relative;
  display: inline-block;
  padding-top: 58px;
}

.top-bar>.top-bar-wrap>.menu-box>ul>li>.sub-title {
  display: none;
  position: absolute;
  top: 109px;
  left: 0;
  width: 300px;
  height: 100px;
  color:#666;
  font-size:14px;
  padding:90px 40px 0 0;
  text-align: right; 
}
.top-bar>.top-bar-wrap>.menu-box>ul>li>.sub-title.active {
  display: block;
}
.top-bar>.top-bar-wrap>.menu-box>ul>li>.sub-title > div {
  position: relative;
  font-size:29px;
  margin-bottom:30px;
  line-height: 34px;
  color:#222;
}
.top-bar>.top-bar-wrap>.menu-box>ul>li>.sub-title > div::before {
  content:"";
  display: block;
  position: absolute;
  right:-20px;
  top:-25px;
  width:45px;
  height:50px;
  background-image: url(https://sung-kyung.github.io/img1/pf/komsco/blind_bg2.png?dummy123123);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 30;
}
.top-bar > .top-bar-wrap>.menu-box>ul>li>.sub-title>div::after {
  content: "";
  display: block;
  width: 35px;
  height: 1px;
  background: #474747;
  position: absolute;
  right: 0;
  bottom: -20px;
}
.top-bar>.top-bar-wrap>.menu-box>.sub-bg {
  position: absolute;
  top:109px;
  left: 0;
  width:100%;
  overflow: hidden;
  transition:height .3s;
  background-color: #fff;
}

.top-bar>.top-bar-wrap>.menu-box>.sub-bg.active {
  display: block;
}

.top-bar>.top-bar-wrap>.menu-box>.sub-bg>.bg-gray {
  height: 100%;
  width: 22%;
  background-color: #ebedef;
}
.top-bar>.top-bar-wrap>.menu-box>.sub-bg > .bg-ico {
  width: 190px;
  height: 195px;
  background-image: url(https://sung-kyung.github.io/img1/pf/komsco/blind_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  bottom: -70px;
  margin-left: -865px;
}
.top-bar>.top-bar-wrap>.menu-box>ul>li>.sub-menu-box {
  position: absolute;
  display: none;
  top: 100%;
  left: 22%;
  width: 75%;
  padding-left:40px;
}

.top-bar>.top-bar-wrap>.menu-box>ul>li.active2>.sub-menu-box {
  display: block;
}

.top-bar>.top-bar-wrap>.menu-box>ul>li>.sub-menu-box>li {
  display: none;
  width: calc(100% / 5);
  height: auto;
  font-size: 17px;
  padding-top: 40px;
}
.top-bar>.top-bar-wrap>.menu-box>ul>li>.sub-menu-box>.sub01 {
  min-height: 165px;
}
.top-bar>.top-bar-wrap>.menu-box>ul>li>.sub-menu-box>.sub02 {
  min-height: 230px;
}
.top-bar>.top-bar-wrap>.menu-box>ul>li>.sub-menu-box>.sub03 {
  min-height: 240px;
}
.top-bar>.top-bar-wrap>.menu-box>ul>li>.sub-menu-box>.sub04 {
  min-height: 240px;
}
.top-bar>.top-bar-wrap>.menu-box>ul>li>.sub-menu-box>.sub05 {
  min-height: 165px;
}
.top-bar>.top-bar-wrap>.menu-box>ul>li>.sub-menu-box>.sub06 {
  min-height: 165px;
}
.top-bar>.top-bar-wrap>.menu-box>ul>li>.sub-menu-box.active>li {
  display: block;
  animation-name: test-1;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes test-1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.top-bar>.top-bar-wrap>.menu-box>ul ul ul {
  min-height: 10px;
  padding: 5px 0 0 0;
}

.top-bar>.top-bar-wrap>.menu-box>ul ul ul>li>a {
  font-size: 15px;
  line-height: 19px;
  color: #747474 !important;
  padding: 5px 0;
}

.top-bar>.top-bar-wrap>.toputil-box {
  position: absolute;
  right: 2%;
  top: 12px;
  font-size: 14px;
  font-weight: 300;
  z-index: 2;
}

.top-bar>.top-bar-wrap>.toputil-box>ul {
  height: 32px;
  width: 100%;
}

.top-bar>.top-bar-wrap>.toputil-box>ul>li {
  padding: 0 12px;
  text-align: right;
  opacity: 0.8;
}

.top-bar>.top-bar-wrap>.toputil-box>.btn-box {
  margin-top: 12px;
}

.top-bar>.top-bar-wrap>.toputil-box>.btn-box>a {
  margin: 0 10px;
  cursor: pointer;
}

.top-bar>.top-bar-wrap>.toputil-box>.btn-box>.search {
  display: inline-block;
  width: 31px;
  height: 32px;
  overflow: hidden;
  background-image: url(https://sung-kyung.github.io/img1/pf/komsco/allmenu_ico.png);
}

.top-bar>.top-bar-wrap>.toputil-box>.btn-box>.menu {
  display: inline-block;
  width: 31px;
  height: 32px;
  overflow: hidden;
  background-image: url(https://sung-kyung.github.io/img1/pf/komsco/search_ico.png);
}

.top-bar:hover>.top-bar-wrap>.toputil-box>.btn-box>.search,
.top-bar.active>.top-bar-wrap>.toputil-box>.btn-box>.search {
  background-image: url(https://sung-kyung.github.io/img1/pf/komsco/allmenu_ico2.png);
}

.top-bar:hover>.top-bar-wrap>.toputil-box>.btn-box>.menu,
.top-bar.active>.top-bar-wrap>.toputil-box>.btn-box>.menu {
  background-image: url(https://sung-kyung.github.io/img1/pf/komsco/search_ico_on.png);
}

/* 탑바 끝 */

/* 메인 슬라이더 시작 */
.slider-k {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
  color: #fff;
}

.bg-slider>.bg-slides>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s;
}

.bg-slider>.bg-slides>div.active {
  visibility: visible;
  opacity: 1;
}
.bg-slider>.bg-slides>div> .slide-text {
  position: absolute;
  top:30%;
  left:8%;
}
.bg-slider>.bg-slides>div> .slide-text .story {
  letter-spacing: 8px;
}
.bg-slider>.bg-slides>div> .slide-text .subject {
  font-size:80px;
  margin-top:5%;
  line-height: 80px;
  font-weight: 600;
  font-family: 'Nanum Myeongjo';
}
.bg-slider>.bg-slides>div> .slide-text #subject1 {
  font-size:58px;
}
.bg-slider>.bg-slides>div> .slide-text .subject > strong {
  font-weight: 600;
  color: #fce524;
}
.bg-slider>.bg-slides>div> .slide-text .sub {
  font-size: 20px;
  line-height: 26px;
  margin-top:4%;
}
.bg-slider>.bg-slides>div> .slide-text .cont {
  font-size: 17px;
  line-height: 22px;
  font-weight:300;
  margin-top:6%;
}
.slider-k .page-nav {
  position: absolute;
  bottom: 2%;
  left: 0;
  width: 100%;
  text-align: center;
}

.slider-k .page-nav>div {
  display: inline-block;
  width: 34px;
  height: 4px;
  background-color: white;
  opacity: 0.3;
  transition: opacity .3s;
  margin: 10px 5px;
  cursor: pointer;
  z-index: 20;
}

.slider-k .page-nav>div.active {
  opacity: 1;
}

.slider-k1 .page-nav {
  width: auto;
  bottom: 20%;
  left: 8%;
}

/* 메인 슬라이더 끝 */

/* news 시작 */
.news-wrap {
  height: 100vh;
  width: 100%;
}

/* news 끝 */