@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    font-family: 'Cormorant Garamond', serif;
}

@font-face {
    font-family: 'newtextitcstd';
    src: url('font/newtextitcstd.otf') format('opentype');
}

@font-face {
    font-family: 'Beautiful Heart';
    src: url('font/Beautiful Heart.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumSquare R';
    src: url('font/NanumSquareR.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumSquare L';
    src: url('font/NanumSquareL.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumSquare B';
    src: url('font/NanumSquareB.ttf') format('truetype');
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: 0.8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: none;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 10px solid red;
}

.border-green {
    border: 10px solid green;
}

.border-blue {
    border: 10px solid blue;
}

.border-gold {
    border: 10px solid gold;
}

.border-pink {
    border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-c {
    justify-content: center;
}

*>.flex-jc-s {
    justify-content: flex-start;
}

*>.flex-jc-e {
    justify-content: flex-end;
}

*>.flex-jc-sb {
    justify-content: space-between;
}

*>.flex-ai-c {
    align-items: center;
}

*>.flex-ai-s {
    align-items: flex-start;
}

*>.flex-ai-e {
    align-items: flex-end;
}

*>.flex-as-s {
    align-self: stretch;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-as-s {
    align-self: flex-start;
}

*>.flex-as-e {
    align-self: flex-end;
}

*>.flex-column-nowrap {
    flex-flow: column nowrap;
}

*>.flex-column-wrap {
    flex-flow: column wrap;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 커스텀 */
.con {
    max-width: 1400px;
}

@media (max-width:1249px) {
    .visible-md-up {
        display: none !important;
    }
}

@media (min-width:1250px) {
    .visible-sm-down {
        display: none !important;
    }
}

@media (max-width:800px) {
    .top-bar>.logo>.up {
        display: none;
    }
    .top-bar>.logo {
        padding-left:15px !important;
    }
    .top-bar>.menu-ico {
        padding-right:20px !important;
    }
}
@media (min-width:801px) {
    .top-bar>.logo>.down {
        display:none;
    }
}
html,
body {
    overflow-x: hidden;
}

/* 탑바 */
.top-bar {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    transition: background-color 1s;
}

.top-bar.dark {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 12;
}

.top-bar>.logo {
    padding-left: 30px;
}

.top-bar>.logo>img {
    max-width: 180px;
}
.top-bar>.logo>.down {
    width:110px;
    height:auto;
}
.top-bar>.menu-ico {
    padding-right: 50px;
    cursor: pointer;
}
.btn-toggle-mobile-side-bar {
    width: 25px;
    height: 20px;
    position: relative;
}

.btn-toggle-mobile-side-bar>div {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;
    transition: top .4s .4s, transform .4s, opacity .2s .5s;
}

.btn-toggle-mobile-side-bar>div:nth-child(2) {
    top: 40%;
}

.btn-toggle-mobile-side-bar>div:nth-child(3) {
    top: 80%;
}

.btn-toggle-mobile-side-bar.active>div {
    top: 40%;
    transition: top .4s, transform .4s .4s, opacity .2s 0s;
}

.btn-toggle-mobile-side-bar.active>div:nth-child(1) {
    transform: rotate(45deg);
}

.btn-toggle-mobile-side-bar.active>div:nth-child(3) {
    transform: rotate(-45deg);
}

.btn-toggle-mobile-side-bar.active>div:nth-child(2) {
    opacity: 0;
}

/* 메인 페이지 시작 */

.page-1 {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    z-index: -1;
}

.page-1>video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* 메인페이지 끝 */

/* 2페이지 시작 */
.page-2 {
    width: 100%;
}

.page-2-box {
    height: 100%;
    text-align: center;
}

.page-2-box>.new-text-box {
    opacity: 0;
}

.page-2-box>.new-text-box.actived {
    animation: show 3s forwards;
}

.page-2-box>.new-text-box>.ancient {
    font-family: 'Beautiful Heart';
    color: #698383;
    font-size: 90px;
    margin-top: 50px;
    opacity: .6;
    white-space: nowrap;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.page-2-box>.new-text-box>.description {
    font-family: 'NanumSquare L';
    padding-top: 15px;
    line-height: 1.5;
}

.page-2-box>.new-text-box>.more-view {
    font-weight: 500;
    font-style: italic;
    display: block;
    font-size: 20px;
    padding-top: 15px;
}

.swiper-container {
    margin-top: 100px;
    height: 500px;
    text-align: center;
}

.swiper-container>.swiper-wrapper>.swiper-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-container-1 {
    margin-top: 70px;
    height: 300px;
    text-align: center;
    display: none;
}

.swiper-container-1>.swiper-wrapper>.swiper-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin:0 1%;
}

@media (max-width:1000px) {
    .swiper-container {
        display: none;
    }

    .swiper-container-1 {
        display: block;
    }
}
@media (max-width:800px) {
    .page-2-box>.new-text-box>.ancient {
        font-size: 50px;
    }
}

/* 2페이지 끝 */

/* 3페이지 시작 */
.page-3 {
    width: 100%;
    text-align: center;
    overflow-x: hidden;
}

.page-3-box {
    padding-top: 300px;
}

.page-3-box>.best {
    font-size: 70px;
    font-weight: 700;
    font-style: italic;
}

.page-3-box>.best-sub {
    font-family: 'NanumSquare R';
    padding-top: 15px;
    font-size: 16px;
    line-height: 1.4;
}

.swiper-container-2 {
    position: relative;
    height: 600px;
}

.swiper-slide {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: cover;
    height: 600px;
    position: relative;
}

.swiper-slide>.slide-text-box {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 25%;
}

.swiper-slide>.slide-text-box>.best-name {
    font-size: 20px;
    white-space: nowrap;
    line-height: 1;
    padding-top: 8%;
}

.swiper-slide>.slide-text-box>.best-cont {
    font-family: 'NanumSquare L';
    font-size: 12px;
    bottom: 0;
    line-height: 1.4;
    padding-top: 5%;
}

.swiper-scrollbar {
    position: absolute;
    bottom: 0;
    left: 0;
}

.page-3>.bg {
    background-color: #FCF9EE;
    width: 100%;
    height: 400px;
    z-index: -1;
    margin-top: -290px;
}

@media (max-width:1600px) {
    .swiper-slide>.slide-text-box>.best-name {
        white-space: pre-wrap;
    }
}

@media (max-width: 1000px) {
    .swiper-slide>.slide-text-box>.best-cont {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

/* 3페이지 끝 */

/* 4페이지 시작 */

.page-4 {
    background-color: #FCF9EE;
    width: 100%;
    padding-top: 10%;
    z-index: -2;
}

.pack-box {
    width: 60%;
    padding-top: 10%;
    position: relative;
}

.pack-box>.pack-video {
    width: 90%;
    /* margin-left:8%; */
    /* padding-bottom: 20%; */
    position: relative;
    z-index: 4;
}
.pack-box>.pack-video .youtube {display: block; position: relative; padding-bottom: 94%;}
.pack-box>.pack-video .youtube iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
/* .pack-box>.pack-video>video {
    width: 100%;
    height: 100%;
} */
.ytp-chrome-top, .ytp-chrome-bottom, .ytp-pause-overlay {display: none !important;}

.pack-box>.rec {
    width: 88%;
    height: 70%;
    background-color: #040000;
    position: absolute;
    top: 14.5%;
    right: 8%;
    z-index: 1;
}

.pack-text {
    width: 40%;
    padding-bottom: 10%;
    margin-top: 15%;
    text-align: center;
}

.pack-text > .pack-title {
    font-weight: 700;
    font-style: italic;
    font-size: 70px;
    opacity: 0;
    transform: translateX(30%);
    transition: transform 1.5s, opacity 1.5s;
}

.pack-text>.pack-title-ko {
    font-family: 'NanumSquare B';
    font-size: 19px;
    padding-top: 15px;
    color: #383838;
    opacity: 0;
    transform: translateX(30%);
    white-space: nowrap;
    transition: transform 1.5s, opacity 1.6s;
}

.pack-text.actived>.pack-title,
.pack-text.actived>.pack-title-ko {
    opacity: 1;
    transform: translateX(0);
}

.pack-text>.pack-cont {
    font-family: 'NanumSquare L';
    font-size: 20px;
    padding-top: 20%;
    line-height: 1.5;
    white-space: nowrap;
}

.pack-text>.pack-notice {
    font-family: 'NanumSquare L';
    font-size: 14px;
    padding-top: 10%;
    white-space: nowrap;
}

.pack-text>.feel {
    font-family: 'Beautiful Heart';
    color: #3d3c3c94;
    font-size: 90px;
    padding-top: 15%;
}
@media (max-width:800px) {
    .page-4 > div {
        text-align: left;
    }
    .pack-box>.pack-video,.pack-text {
        float:none;
    }
    .pack-box {
        margin-left:20%;
    }
    .pack-text {
        text-align: left;
        margin-left:20%;
    }
    .pack-text > .feel {
        white-space: nowrap;
        font-size:50px;
    }
    .pack-text>.pack-cont {
        font-size:15px;
    }
    .pack-text>.pack-notice {
        font-size:12px;
    }
    .pack-text>.pack-title,.pack-text.actived>.pack-title {
        font-size:40px;
        transform: translateX(0);
        display: inline-block;
        white-space: nowrap;
    }
}
/* 4페이지 끝 */

/* 5페이지 시작 */
.page-5 {
    width: 100%;
    position: relative;
}

.scent-bg {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -2;
}

.scent-black-bg {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.scent-text-box {
    margin: 0 auto;
    text-align: center;
    width: 40%;
    z-index: 10;
    color: #fff;
    position: absolute;
    top: 70%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%)translateY(-50%);
    transition: top 2s, opacity 2s;
}

.scent-text-box.actived {
    opacity: 1;
    top: 50%;
}

.scent-text-box>.scent-title {
    font-weight: 700;
    font-size: 70px;
    font-style: italic;
    white-space: nowrap;
    animation: show3 3s forwards;
}

.scent-text-box>.scent-sub {
    font-family: 'newtextitcstd';
    font-size: 23px;
    padding-top: 20px;
    white-space: nowrap;
    animation: show3 3s .2s forwards;
}

.scent-text-box>.scent-sub-ko {
    font-family: 'NanumSquare R';
    font-size: 13px;
    padding-top: 7px;
    margin-bottom: 40px;
    position: relative;
    white-space: nowrap;
    animation: show3 3s .3s forwards;
}

.scent-text-box>.scent-sub-ko::after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 2px;
    background-color: #fff;
}

.scent-text-box>.scent-cont {
    font-family: 'NanumSquare L';
    font-size: 15px;
    margin-top: 60px;
    line-height: 1.7;
    white-space: nowrap;
    animation: show3 3s .4s forwards;
}

.scent-btn {
    text-align: center;
    margin-top: 50px;
    position: relative;
}

.scent-btn>span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-55%);
    user-select: none;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    color: #333;
    white-space: nowrap;
}

@keyframes show3 {
    0% {
        opacity: 0;
        bottom: -50%;
    }

    100% {
        opacity: 1;
        top: 50%;
    }
}
@media (max-width:800px) {
    .scent-text-box {
        text-align: left;
        left: 35%;
    }
    .scent-text-box>.scent-sub-ko::after {
     left:15%;   
    }
    .scent-btn {
        position: absolute;
        left:0;
    }
    .scent-text-box>.scent-title {
        font-size:50px;
        transform: translateX(0);
        display: inline-block;
        white-space: nowrap;
    }
    .scent-text-box>.scent-cont > p {
        font-size:11px;
    }
}
/* 5페이지 끝 */

/* footer 시작 */
footer {
    width: 100%;
    background-color: black;
    padding-bottom: 2%;
}

.foot {
    padding-top: 40px;
    text-align: left;
}

.foot>.foot-menu-box {
    color: #fff;
}

.foot>.foot-menu-box>ul>li {
    padding: 0 20px;
    font-family: 'NanumSquare R';
    font-size: 14px;
}

.foot>.foot-menu-box>ul>li:first-child {
    padding: 0 0;
}

.foot>.foot-menu-box>ul ul {
    font-size: 12px;
    color: #A8A8A7;
}

.foot>.foot-menu-box>ul ul li {
    padding: 3px 0;
}

.foot>.foot-menu-box>ul ul li:first-child {
    padding-top: 15px;
}

.foot>.foot-info {
    font-family: 'NanumSquare L';
    font-size: 12px;
    padding-top: 10px;
    line-height: 1.5;
}

.foot>.foot-info>ul>li {
    padding: 0 8px;
    color: #fff;
    position: relative;
}

.foot>.foot-info>ul>li::before,
.foot>.foot-info>ul>li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 12px;
    background-color: #A8A8A7;
}

.foot>.foot-info>ul>li::after {
    left: auto;
    right: 0;
}

.foot>.foot-info>ul>li:first-child::before,
.foot>.foot-info>ul>li:last-child::after {
    width: 2px;
}

.foot>.copyright {
    color: #fff;
    font-size: 13px;
    padding-top: 7px;
    font-family: 'NanumSquare L';
}
@media (max-width:800px) {
    .foot {
        padding:3% 2%;
    }
    .foot>.foot-menu-box>ul>li {
        font-size:12px;
        padding:0 10px;
    }
    .foot>.foot-menu-box>ul ul {
        font-size:10px;
    }
}
/* footer 끝 */

/* side-menu 시작 */
.side-menu,
.side-menu-2 {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    font-family: 'NanumSquare B';
    visibility: hidden;
    z-index: 11;
}

.side-menu>.menu-box-1 {
    height: 80%;
}

.side-menu>ul>li {
    padding-top: 17%;
    padding-left: 8.5%;
    font-size: 20px;
}

.side-menu>ul>li>a {
    display: block;
    text-align: center;
    border-bottom: 1px solid white;
    padding: 0 13px;
    padding-bottom: 20px;
}

.side-menu>ul ul {
    margin-top: 30px;
}

.side-menu>ul ul>li {
    font-size: 16px;
    padding: 7px 0;
    font-family: 'NanumSquare L';
}

.side-menu.active-on,
.side-menu-2.active-on {
    visibility: visible;
    animation-name: down;
    animation-duration: 1.5s;
}

.side-menu-2>ul {
    width: 70%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.side-menu-2>ul>li {
    font-size: 40px;
    padding: 15px 0;
    font-family: 'NanumSquare B';
}

.side-menu-2>ul>li:first-child {
    padding-top: 10%;
}

.side-menu-2>ul ul {
    font-size: 16px;
}

.side-menu-2>ul ul>li {
    padding: 8px 0;
    font-family: 'NanumSquare R';
}

.side-menu-2>ul ul>li:first-child {
    padding-top: 15px;
}

@keyframes down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    60% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

.side-menu.active-off,
.side-menu-2.active-off {
    visibility: hidden;
    animation: side-opa 0.5s forwards;
}

@keyframes side-opa {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        visibility: hidden;
    }
}

.side-menu.active-on+.side-menu-top-icon,
.side-menu.active-on+.side-menu-top-icon-2 {
    top: 35px;
    transition: top 1.5s;
}

.side-menu-top-icon,
.side-menu-top-icon-2 {
    width: 180px;
    position: fixed;
    top: calc(35px - 2000px);
    right: 7%;
    cursor: pointer;
    z-index: 100;
}

.side-menu-top-icon>ul>li {
    padding: 0 7px;
}

.side-menu-top-icon>ul>li>a>img {
    width: 30px;
}

.side-menu-top-icon-2>ul>li {
    padding: 0 7px;
}

.side-menu-top-icon-2>ul>li>a>img {
    width: 30px;
}

@media (max-width:1000px) {

    .side-menu-top-icon,
    .side-menu-top-icon-2 {
        right: 13%;
    }
}

/* side-menu 끝 */

/* pop-up */
.pop-up {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    background-color: rgba(0, 0, 0, .7);
    visibility: hidden;
    opacity: 0;
    transition:opacity .4s, visibility .4s;
}

.popup-1-actived .pop-up {
    visibility:visible;
    opacity:1;
}
.popup-1-actived, .popup-1-actived > body {
    overflow:hidden;
  }
.box {
    width: 450px;
    height: 450px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatex(-50%)translatey(-50%);
    text-align: center;
    font-family: 'NanumSquare R';
    z-index: 999;
}
.box>img {
    height: 150px;
    padding-top: 50px;
}

.box>.wel {
    font-weight: bold;
    font-size: 18px;
    font-family: 'newtextitcstd';
    letter-spacing: .1em;
}

.box>.line {
    width: 40px;
    height: 1.5px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: black;
}

.box>.pop-text {
    font-size: 14px;
    margin-top: 25px;
    line-height: 1.4;
}

.box>.more {
    text-decoration: underline;
    padding-top: 20px;
}

.box>.close-btn {
    z-index: 999;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.box>.close-btn>i {
    color: black;
    font-size: 30px;
}
.box > .not-open {
    margin-top:50px;
    background-color: black;
    padding:5px 0;
}
.box > .not-open > a {
    font-size:13px;
    color:#fff;
}
.box > .not-open > a > i {
    cursor: pointer;
}